h1 {
    text-align: center;
}


.title_li_show ul li {
    list-style: none;
}

.title_li_show ul  {
    list-style: none;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

/*.title_li_show li {*/
/*    height: 30px;*/
/*}*/

ul.title_li_show li {
    height: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
        list-style: none;

}

code {
    background-color: rgb(246, 248, 250) !important;
}