h1 {
    text-align: center;
}

ul li {
    list-style: none;

}

ul {
    list-style: none;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

/*.title_li_show li {*/
/*    height: 30px;*/
/*}*/

ul.title_li_show li {
    height: 30px;
    font-size: 18px;
    /* background-color: pink; */
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
}

code {
    background-color: rgb(246, 248, 250)!important;
}